# Sample book to show how to work with DSM2 Hydro h5

In [1]:
import pandas as pd
import pydsm.hydroh5
hydro=pydsm.hydroh5.HydroH5('../../tests/historical_v82.h5')

## Load channels and channel locations from h5

In [2]:
display(hydro.get_channels().head())
display(hydro.get_channels()[0][0])
display(hydro.get_channel_locations().head())
hydro.channel_number2index['441']

   0
0  1
1  2
2  3
3  4
4  5

'1'

            0
0    upstream
1  downstream

420

## Load reservoir and reservoir node connections from h5

In [3]:
display(hydro.get_reservoirs().head())
display(hydro.get_reservoirs()[0][0])
display(hydro.reservoir_node_connections.head())
display(hydro.reservoir_node_connections['res_name'][0])

               0
0         bethel
1  clifton_court
2  discovery_bay
3   franks_tract
4        liberty

'bethel'

,res_node_index,res_name,res_index,connect_index,node_no,ext_node_no,connection_type
0,1,bethel,1,1,203,220,node
1,2,clifton_court,2,1,71,72,gate
2,3,discovery_bay,3,1,183,197,node
3,4,discovery_bay,3,2,184,198,node
4,5,franks_tract,4,1,98,103,node

'bethel'

In [11]:
qext_table=hydro.get_qext()
#display(qext_table)
#qext_table.iloc[:,:].str.strip()
qext_sac=qext_table[qext_table['name']=='sac']
qext_sac.iloc[0]['attach_obj_name']

'330'

In [12]:
print(hydro.get_data_tables())

['channel flow', 'channel area', 'channel stage', 'channel avg area', 'qext flow', 'reservoir flow', 'reservoir height', 'transfer flow']

In [13]:
channel_ids=[330,441,1,17]

In [31]:
data=hydro.h5.get('/hydro/data/channel flow')

In [33]:
type(data)

h5py._hl.dataset.Dataset