## Dealing with compound data set
Using dtypes one can detect the names for the dtype and then copy into an array and convert to np.str
Then pandas DataFrame can parse those properly as a table

In [1]:
import pandas as pd
import numpy as np
import h5py
h5 = h5py.File('../data/output/historical_v82.h5')

In [2]:
x=h5.get('/hydro/geometry/reservoir_node_connect')

See below on how to use dtype on returned array to see the names

In [3]:
x[0].dtype.names

('res_node_index',
 'res_name',
 'res_index',
 'connect_index',
 'node_no',
 'ext_node_no',
 'connection_type')

Now the names can be used to get the value for that dtype

In [4]:
x[0]['res_name']

b'bethel                          '

Using generative expressions to get the values as arrays of arrays with everything converted to strings

In [5]:
pd.DataFrame([[v[name].astype(np.str) for name in v.dtype.names] for v in x])

     0                                 1  2  3    4    5         6
0    1  bethel                            1  1  203  220  node
1    2  clifton_court                     2  1   71   72  gate
2    3  discovery_bay                     3  1  183  197  node
3    4  discovery_bay                     3  2  184  198  node
4    5  franks_tract                      4  1   98  103  node
5    6  franks_tract                      4  2  199  216  node
6    7  franks_tract                      4  3  202  219  node
7    8  franks_tract                      4  4  207  224  node
8    9  franks_tract                      4  5  208  225  node
9   10  franks_tract                      4  6  212  232  node
10  11  liberty                           5  1  288  322  node
11  12  mildred                           6  1  122  127  node
12  13  mildred                           6  2  124  129  node
13  14  mildred                           6  3  125  130  node
14  15  mildred                           6  4  131  136  node